Q1) What is a database? Differentiate between SQL and NoSQL databses

A database is an organized collection of data that is stored electronically.
SQL databases are relational and NoSQL databases are non-relational
SQL databases use structured-query langauge and have a prefered schema. NOSQL databases have dynamic schemas for unstructured data.
SQL databases are vertically scalable and NoSQL databases are horizontally scalable
SQL databases are table-based while NoSQL databases are document, key-value, graph or wide column stores
SQL databases are better for multirow transactions while NoSQL is better for unstructued data like document or JSON

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language (DDL) is a subset of SQL and a part of DBMS. DDL consists of commands like create, alter, truncate and drop. These commands are used to create or modify the table in SQL.

1) CREATE : This command is used to create a new table in SQL. The user has to give information like table name,columnn names and their datatypes
CREATE TABLE table_name(
column1 datatype,
column2 datatype,
column3 datatype
..........
);


2) ALTER: This command is used to add,delete or change columns in the existing table. The user need to know the existing table name and can do the add,delete and modify tasks
Syntax to add columns to an existing table:
ALTER TABLE table_name
ADD column_name datatype


3) TRUNCATE : This command is used to remove all rows from the table, but the structure of the table still exists
TRUNCATE table table_name


4)DROP 
This command is used to remove table along with its structure from the database.
DROP table table_name

Q3) What is DML? Explain INSERT, UPDATE and DELETE with an example

DBMS provides a framework of functions to modify or alter the data called Data Manipulation Language.
Data manipulation introducing data into tables , altering the table's data and deleting the data from the table.
INSERT -> This command is used to insert the information in to a row.
Insert INTO <table_name> ('column_name1' <datatype>, )
    VALUES('','')
    
UPDATE : This command is used to alter existing table records. Withing a table, it modifies data from one or more records. This command is used to alter the data which is already present in table.
    UPDATE <table_name>
    SET 
    WHERE

    
DELETE : It deletes all archieves from a table, This command is used to erase some or all of the previous table's record. If we do not specify 'WHERE' condition then all rows would be erased or deleted.

Q4. What is DQL? Explain SELECT with an example.

Query languages often known as DQLs or data query languages are computer languages that are used to make various queries in information system and databases. The structured query language is a well known example. DQL statements are used to query the data contained in schema objects. The primary goal of the DQL statement is to return a schema relation depending on the query supplied to it. The DQL statements can be used in order to query the data and information contained in schema objects. The goal of DQL commands is to return a schema relation on the basis of the query supplied to them.
DQL is a portion of a SQL statement that allows you to get and organise data from a database. One can use select command to extract the data from a databse in order to perform actions on it.
SELECT Column_name FROM table_name WHERE condition

Q5. Explain Primary Key and Foreign Key.

The key differences between the primary key and foreign key is that, the primary key is about uniquely identifying records within a table, while the foreign key establishes relationships between tables and enables the linking of data across multiple tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connection
mydb = mysql.connection.connect(host = 'localhost',user='abc',password='password')
mycursor = mydb.cursor()

A cursor is an object which helps to execute the query and fetch the record from the database. The execute method helps to execute the query and return records according to the query.

Q7. Give the order of execution of SQL clauses in an SQL query.

SQL queries are used to access a set of records present in our database tables. SQL queries are made up of one or more clauses. A particular order must be followed to execute to obtain the correct results. This order of execution is known as SQL query execution order.

SQL order of operation , so that the data we are looking for is retrieved in the most optimized way and takes the least execution time possible. SQL query execution order means optimizing our search results from the databse where query clauses are evaluated according to the requirements.
SQL query execution order means optimizing our search results from the database or where the query clauses are evvaluated accordding to the requirements