Q1) 
Create a python function to sort the given list of tuples based on integer values using a lambda function

In [1]:
l1 = [('Sachin Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',24936)]

In [9]:
l1.sort(key=lambda x:x[1],reverse = False)
l1

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2)Write a python program to find the squares of all the numbers in the given list of integers using lammbda and map function

In [10]:
l1 = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x**2,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3) Write a python program to convert the given list of integers into tuple of strings.Use map and lambda functions.

In [14]:
strList = [1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x:str(x),strList))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4) Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25

In [15]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [16]:
from functools import reduce
reduce(lambda x,y:x*y,l)

15511210043330985984000000

Q5)Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function

In [22]:
l1=[2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x:(x%2==0) & (x%3==0),l1))

[6, 60, 90, 120]

Q6) Write a python function to find palindrome in the given list of string using lambda and filter function

In [23]:
l1 = ['python','php','aba','radar','level']

In [24]:
list(filter(lambda x:x[::]==x[::-1],l1))

['php', 'aba', 'radar', 'level']